[flake8]
max-line-length = 180
max-complexity = 15
exclude = build/*
extend-ignore =
    # see https://github.com/PtCQA/pycodestyle/issues/373
    E203,
ignore = E203, E266, E501, W503, W605
select = B,C,E,F,W,T4
